<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Add</title>
</head>
<body>
<form method = 'post'>
    <div>
        <label for="username">Username:
            <input id="username" type="text" th:value="${username}" name="username"/>
        </label>
    </div>
    <div>
        <label for="email">Email:
            <input id="email" type="email" name="email"/>
        </label>
    </div>
    <div>
        <label for="password">Password:
            <input id="password" type="password" name="password"/>
        </label>
    </div>
    <div>
        <label for="verify">Re-Enter Password:
            <input id="verify" type="password" name="verify"/>
        </label>
    </div>
    <div>
        <input type = 'submit' value = 'Submit'/>
    </div>
</form>

</body>
</html>